.navbar {
  background-color: #ebeaea;
}

.wrapper {
  width: 40vw;
  background-color: #ededea;
}

p {
  color: rgb(12, 12, 61);
}

.nav-link {
  font-size: large;
  font-weight: bold;
}

.alert {
  text-align: center;
}

.useris {
  color: rgb(42, 20, 20);
}
