.start-stop {
    margin-top: 30px;
}

.darbo-vietos {
    margin-top: 20px;
}

.btn {
    margin: 20px;
    padding-inline: 40px;
}

label {
    font-size: large;
    font-weight: bold;
}

.form-control {
    font-size: larger;
    text-align: center;
}


.darbuotojas {
    height: 45px;
    width: 30vw;

}

.form-select {
    font-size: large;
}

.irasyti {
    margin-top: 20px;

}

.radio {
    margin-right: 20px;
}

.alert {
    text-align: center;

}

h4 {
    color: darkgreen;
}